<%= form_for ([ @project, @project.userproject ]) do |f| %>

<% if @userproject.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@userproject.errors.count, "error") %> prohibited this programmer from being add to this project:</h2>

    <ul>
    <% @userproject.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :Programmer_ID %>
  <%= f.number_field :user_id, class: "form-control" %>
</div>

<div class="actions form-group pull-right">
  <%= f.submit class: "btn btn-default" %>
</div>

<% end %>
